.container,
.page{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;right: 0;
}
.page__bd{
  height: 100%;
  background-color: #f5fafe;
  overflow-y:auto;
}
.fruit-items{
   padding: 10px;
   width: 100%;
   box-sizing: border-box;  
   overflow: hidden;
}
.fruit-item{
  float: left;
  width: 50%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
.item.con{
   background-color: #fff;
}
.tap{
  display: none;
}
.tap.show{
  display: block;
}