*{
    margin: 0;
}
.page{
    padding: 20px;

}
.title{
    font-weight: bold;
    font-size: 20px; 
    font-family: serif '微软雅黑'; 
    padding-bottom: 30px; 
    margin-bottom: 30px; 
}
.container{
  width: 1075px;
}
.content{
    width: 335px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 5px 5px 15px #aaa;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
    /* display: inline-block; */
}
.content:last-child{
    margin-right: 0;
}
.content-title{
    font-weight: bold;
    font-size: 20px;
    font-family: serif '微软雅黑'; 
}
.content-dsc{
    margin-top: 20px;
    margin-bottom: 50px;
}
.content .img{
  margin: 0 auto;
  width: 295px;
  height:295px;

}
.img img{
    width: 100%;
}