*{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
}
ul li{
  list-style-type: none;
}
.main{
  width: 100%;
}
.header{
  padding: 10px 5px;
  background-color: #eee;
  text-align: center;
}
.search{
  width: 100%;
}
.search input{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  outline: none;
}
.content,
.content-items{
  width: 100%;
}
.content-item{
  display: flex;
  padding: 10px;
}
.pic{
  width: 60px;
  height: 60px;
  border-radius: 5px;
  overflow: hidden;

}
.pic img{
  width: 100%;
}
.message{
  flex: 1;
  margin-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.name{
  font-size: 16px;
  margin-bottom: 8px;

}
.detail{
  font-size: 12px;
  color: #555555;
}
.footer{
  width: 100%;
  position: fixed;
  bottom: 0;
}
.ft-items{
  width: 100%;
  display: flex;
}
.item{
  flex: 1;
  text-align: center;
}
.item img{
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto;
}